<h2> PAGINA NOVEDADES </h2>

<h4> Subtitulo de Novedades </h4>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eius in assumenda perferendis quia perspiciatis repudiandae numquam hic doloribus aperiam optio ipsa nulla quis harum, sed non neque, nisi autem!</p>